<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ルール</title>
        <meta name="description" content="この授業取ろうかな？を解決">
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="/static/style.css" >
        <link rel="icon" type="image/png" href="/static/favicon.png">
    </head>
    <body>
        <header class="page-header wrapper">
            <h1 class="logo"><a href="/">YCU-class</a></h1>     
            <nav>
            <ul class="menubar">
                <li class="menu"><a href="/">戻る</a></li>
            </ul>
            </nav>
        </header>
        <main>
            <h1 class=important>利用される方へのお願い</h1>
            <ul>
               <li class="rulemenu">虚偽の内容は書き込まないでください</li>
               <li class="rulemenu">このサービスの内容は参考程度にとどめ、実際の授業を確認するなどしてきちんと確認するようにしましょう</li>
               <li class="rulemenu">教官への誹謗中傷等、公序良俗に反する行為はやめてください</li>
               <li class="rulemenu">これから授業を取る人のことを思って書き込みましょう</li>
            </ul>
              <h2><span class="last">以上最低限これだけは守りましょう</span></h2>
        </main>
        <footer class="er"> 
            <h1 class="foot">@nohakai2001 django-python</h1>
        </footer>
    </body>
</html>