<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>トップ</title>
        <meta name="description" content="この授業取ろうかな？を解決">
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="/static/style.css" >
        <link rel="icon" type="image/png" href="/static/favicon.png">
    </head>
    <body>
        <header class="page-header wrapper">
            <h1 class="logo"><a href="/">YCU-class</a></h1>     
            <nav>
            <ul class="menubar">
                <li class="menu"><a href="/">ログアウト</a></li>
            </ul>
            </nav>
        </header>
        <main>
            <h1 class=important>理学部</h1>
            <ul>
               <li class="rulemenu"><a href="topic_1.html/">１年-必修</a></li>
               <li class="rulemenu"><a href="topic_2.html/">１年-選択必修</a></li>
               <li class="rulemenu"><a href="topic_3.html/">２年-必修</a></li>
               <li class="rulemenu"><a href="topic_4.html/">２年-専門科目</a></li>
               <li class="rulemenu"><a href="topic_5.html/">３年-必修</a></li>
               <li class="rulemenu"><a href="topic_6.html/">３年-専門</a></li>
            </ul>
        </main>
        <footer class="er"> 
            <h1 class="foot">@nohakai2001 django-python</h1>
        </footer>
    </body>
</html>